# HA Proxy Config for beta.lonni.me

global
    daemon
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 15000
    stats socket /var/run/haproxy.sock mode 0600 level admin
    tune.ssl.default-dh-param 2048

defaults
    balance roundrobin
    log global
    mode http
    option forwardfor
    option httpclose
    option redispatch
    timeout check 5s
    timeout client 60s
    timeout connect 9s
    timeout server 30s
    option httplog

frontend http
    bind :80
    redirect location https://beta.lonni.me

frontend https
    bind :443 ssl crt /usr/local/etc/ssl/server.pem
    default_backend netlify

    acl is_root path /
    http-request redirect location /index.html code 301 if is_root

    acl is_favicon path_beg /favicon.ico
    http-request redirect location /assets/favicon.ico code 301 if is_favicon

    acl is_zimbra path_beg /@zimbra
    reqrep "^([^ :]*)\ /@zimbra/(.*)" "\1\ /\2" if is_zimbra
    use_backend zimbra if is_zimbra

backend zimbra
    reqadd X-Forwarded-Proto:https
    reqadd X-Forwarded-Port:443
    option forwardfor

    server server1 api.lonni.me ssl verify none

backend netlify
    reqadd X-Forwarded-Proto:https
    reqadd X-Forwarded-Port:443

    server web lonni.netlify.com ssl verify none

